:local(.searchBar) {
    padding: 10px;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

:local(.searchBar) form {
    height: 70px;
}

:local(.searchBar) img {
    height: 35%;
    width: auto;
    margin-left: 1%;
}

:local(.searchBar) input {
    width: 85%;
    max-height: 50px;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 100;
    border-color: transparent;
}

:local(.searchBar) input:focus {
    outline-color: transparent;
}
